.shadow-sm {
  box-shadow: rgba(var(--v-theme-shadow), 0.2) 0 4px 16px,
    rgba(var(--v-theme-shadow), 0.1) 0 8px 32px;
}
.shadow-md {
  box-shadow: rgba(var(--v-theme-shadow), 0.15) -5px 10px 30px 5px;
}
.shadow-lg {
  box-shadow: rgba(var(--v-theme-shadow), 0.15) -10px 20px 65px 10px;
}
